@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {

    background : url("/images/bg-pattern-top.svg") min(-25vw, calc(50vw - 950px)) min(-60vh, calc(30vw - 700px)) no-repeat, url("/images/bg-pattern-top.svg") min(55vw, calc(100vw - 350px)) max(35vh, calc(-20vw + 500px)) no-repeat;
    background-size : fill;
    background-color : hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    color : hsl(0, 0%, 59%);

}

.banner {

    background : url("/images/bg-pattern-card.svg") no-repeat;

}


.dark-blue {

    color : hsl(229, 23%, 23%);

}

.noSelect{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }